* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  text-align: center;
  margin-top: 100px;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
}


input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 50%;
  margin-right: 10px;
}